@(newPost: Form[controllers.posts.forms.NewPost], categoryList:Map[String,String])
@import views.html.posts.forms.SignupFieldConstructor

@import helper._
@implicitField = @{ FieldConstructor(SignupFieldConstructor.f) }

@main2("Signup Form"){
    <section class="wrapper">


            <!--End Slider-->
            <!--start info service-->
        <section class="info_service">




            <div class="col-lg-offset-2 col-lg-8 col-md-8 col-sm-8">
                <div class="dividerHeading">
                    <h4><span>NEW DEBATIC TOPIC</span></h4>
                </div>
                    <!-- SUCCESS MESSAGE -->
                <div class="alert alert-success hidden alert-dismissable" id="contactSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <strong>Success!</strong> Your message has been sent to us.
                </div>

                    <!-- ERROR MESSEGE -->



                @if(newPost.hasErrors){
                    @if(newPost.errors.size > 0){
                        @for(( key , value ) <- newPost.errors){

                            <div class="alert alert-danger alert-dismissable" id="contactSuccess">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <strong>
                                    @key.toString :
                                </strong>
                                    @for(err <- value){
                                        @err.message.toString
                                    }
                            </div>

                        }
                    }
                }




                 @helper.form(action = routes.Posts.submitPost() , 'id->"contactForm" ,'novalidate->"novalidate", 'onsubmit->"validateForm()"){
                     @CSRF.formField
                     @inputText(newPost("title"),'label->"Title", 'class->"form-control",'title->"Enter title here", 'Placeholder->"Enter your title here (max 120 and min 10 words)")
                     @textarea(newPost("description"),'label->"Descriptions",'class->"form-control",'title->"Enter Description here", 'Placeholder->"Tell us more about it", 'rows -> 6)
                     @select(newPost("category"), options(categoryList), 'class->"form-control")


                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" data-loading-text="Loading..." class="btn btn-default btn-lg" value="Post">
                        </div>
                    </div>
            }
            </div>


        </section>
            <!--end info service-->


            <!--Start recent work-->
        <section class="latest_work">
            <div class="container">
                <div class="row sub_content">
                    <div class="carousel-intro">

                    </div>
                </div>
            </div>
        </section>
            <!--</section>-->

    </section>

}


    <script>
        /* Validate form varibles here */
        function validateForm(){
            return true;
        }
    </script>