@(post:Post, comments:List[Comment])

@main2(post.title){

    <section class="wrapper">

        <section class="content right_sidebar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="blog_single">

                            <article class="post">
                                <div class="post_date">
                                    <span class="day"><img src='images/acc.png' height='80px' width='80px' </span>
                                </div>
                                <div class="post_content">
                                    <div class="post_meta">
                                        <h3 style='font-size: 20px'>
                                            <a href="#">Why Non veg is considered bad for habit when comparted to authentic food</a>
                                        </h3>
                                        <div class="metaInfo" style="font-weight: bold; font-family: 'Helvetica Neue', Arial, sans-serif ">
                                            <span><i class="fa fa-calendar"></i> <a href="javascript:void(0)">Nov 28, 2014</a> </span>
                                            <span><i class="fa fa-user"></i> By <a href="javascript:void(0)">Louis</a> </span>
                                            <span><i class="fa fa-tag"></i> <a href="javascript:void(0)">General</a> </span>
                                            <span><i class="fa fa-comments"></i> <a href="javascript:void(0)" style="color: green">14 Supporters</a></span>
                                            <span><i class="fa fa-comments"></i> <a href="javascript:void(0)" style="color: red">12 Opponents</a></span>
                                            <span><i class="fa fa-thumbs-up"></i> <a href="javascript:void(0)" style="color: green">18 </a></span>
                                            <span><i class="fa fa-thumbs-down"></i> <a href="javascript:void(0)"style="color: red">13 </a></span>
                                            <span><i class="fa fa-thumbs-o-up"></i> <a href="javascript:void(0)" style="color: blue">Like </a></span>
                                            <span><i class="fa fa-thumbs-o-down"></i> <a href="javascript:void(0)" style="color: blue">Dislike </a></span>
                                            <span><i class="fa fa-plus-square"></i> <a href="javascript:void(0)" style="color: green" onclick="supporting_comment()">Support</a></span>
                                            <span><i class="fa fa-minus-square"></i> <a href="javascript:void(0)" style="color: red" onclick="opponent_comment()">Counter</a></span>

                                        </div>
                                    </div>
                                    <p>
                                        The idea about this topic goes here as ...
                                        <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View More</a>
                                    </p>
                                    <p style="display: none; font-family: sans-serif">
                                        The idea about this topic goes here as good for health is very dangerous , people may find this appealing but not
                                        as such attractive due to various issues
                                        <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View Less</a>
                                    </p>
                                </div>
                            </article>
                        </div>
                            <!--Action -->
                        <div class="columns btn-group">
                            <button class="btn btn-default" type="button" name="refresh" title="Refresh">
                                <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                            </button>
                            <div class="export btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" onclick="change_content_holder()">
                                    <i class="icon-share">Action &nbsp;</i><i class="fa fa-sort-desc"></i>
                                        <!--<span class="caret"></span>-->
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:void(0)" onclick="onlyopponents()">Only Opponents Comments</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" onclick="onlysupporters()">Only Supporters Comments</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" onclick="allcommments()">All Comments</a>
                                    </li>
                                </ul>
                            </div>
                        </div><br>

                            <!--<input type="button" class="btn btn-danger only-opponent" onclick="onlyopponents()" value="Hide Opponent comments" />-->
                            <!--<input type="button" class="btn btn-danger only-opponent" onclick="onlyopponents()" value="Show Opponent comments" style="display: none"/>-->
                            <!--<input type="button" class="btn btn-success only-supporter" onclick="onlysupporters()" value="Hide Supporters comments" />-->
                            <!--<input type="button" class="btn btn-success only-supporter" onclick="onlysupporters()" value="Show Supporters comments" style="display: none"/>-->
                            <!--<input type="button" class="btn btn-success" onclick="supporting_comment()" value="Support" />-->
                            <!--<input type="button" class="btn btn-danger" onclick="opponent_comment()" value="Counter" />-->

                        <div id = 'post-comments' class="popover fade left in" style="display: none; max-height: 1000px;  width:100%; max-width: 1000px">
                            <h3 class="popover-title">Comments</h3>
                            <div class="popover-content">
                                <form role="form">
                                    <div class="form-group">
                                        <label class="col-md-12 control-label"></label>
                                        <div class="col-md-12">
                                            <textarea class="form-control field" data-type="textarea" style="min-height: 200px" id="textarea" name="comment" placeholder="Post your opinion"></textarea>
                                        </div>
                                    </div>
                                    <hr>
                                    <input type="hidden" id="hidden-text" name="id" value="" />
                                    <button id="save" class="btn btn-info col-md-4"></button>&nbsp;
                                    <input type="button" class="btn btn-danger col-md-4" value="Cancel" onclick="$('#post-comments').toggle()">
                                </form>
                                    <!--<button class="btn btn-danger col-md-4" onclick="$('#post-comments').toggle()">Cancel</button>-->
                            </div>
                        </div>

                        <script>
                        for(var i=0 ; i < 50 ; i++){
                        var default_class, default_offset ;

                        if(Math.random()<=.50) {
                        default_class = "default-supporter";
                        default_offset = "col-md-offset-0";
                        }
                        else {
                        default_class = "default-opponent";
                        default_offset = "col-md-offset-2";
                        }
                        document.write("<div class='"+default_offset+" col-md-10'> \
                                                <blockquote class=\"default "+
                        default_class
                        +"\"> \
                                        <p> \
                                            Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. .... \
                                            <a href=\"javascript:void(0)\" onclick=\"$(this).parent().parent().find('p , .metaInfo').toggle()\">View More</a> \
                                        </p> \
                                        <p style=\"display: none\"> \
                                            Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque eget tempor tellus. Fusce lacinia tempor malesuada. Ut lacus sapien, placerat a ornare nec, elementum sit amet felis. Maecenas pretium lorem hendrerit eros sagittis fermentum. \
                                            <a href=\"javascript:void(0)\" onclick=\"$(this).parent().parent().find('p , .metaInfo').toggle()\">View Less</a> \
                                        </p> \
                                        <div class=\"metaInfo\" style=\" font-family: 'initial'  \"> \
                                            <span><i class=\"fa fa-calendar\"></i> <a href=\"javascript:void(0)\">Nov 28, 2014</a> </span> \
                                            <span><i class=\"fa fa-user\"></i> By <a href=\"javascript:void(0)\">Louis</a> </span> \
                                            <span><i class=\"fa fa-tag\"></i> <a href=\"javascript:void(0)\">General</a> </span> \
                                            <span><i class=\"fa fa-comments\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\" >14 Supporters</a></span> \
                                            <span><i class=\"fa fa-comments\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\" >12 Opponents</a></span> \
                                            <span><i class=\"fa fa-thumbs-up\"></i> <a href=\"javascript:void(0)\" >18 </a></span> \
                                            <span><i class=\"fa fa-thumbs-down\"></i> <a href=\"javascript:void(0)\">13 </a></span> \
                                            <span><i class=\"fa fa-thumbs-o-up\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\" >Like </a></span> \
                                            <span><i class=\"fa fa-thumbs-o-down\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\" >Dislike </a></span> \
                                            <span><i class=\"fa fa-plus-square\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\"  onclick=\"supporting_comment($(this).parent())\">Support</a></span> \
                                            <span><i class=\"fa fa-minus-square\"></i> <a href=\"javascript:void(0)\" style=\"color: dodgerblue\" onclick=\"opponent_comment($(this).parent())\">Counter</a></span> \
                                        </div> \
                                    </blockquote>\
                                    </div>");
                        }
                        </script>

                    </div>

                        <!--Sidebar Widget-->
                    <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                        <div class="sidebar">
                            <div class="widget widget_search">
                                <div class="site-search-area">
                                    <form method="get" id="site-searchform" action="#">
                                        <div>
                                            <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text">
                                            <input id="searchsubmit" value="Search" type="submit">
                                        </div>
                                    </form>
                                </div><!-- end site search -->
                            </div>

                            <div class="widget widget_categories">
                                <div class="widget_title">
                                    <h4><span>Categories</span></h4>
                                </div>
                                <ul class="arrows_list list_style">
                                    <li><a href="#"> Grapic Design (10)</a></li>
                                    <li><a href="#"> Web Design &amp; Development (25)</a></li>
                                    <li><a href="#"> Photography (29)</a></li>
                                    <li><a href="#"> Custom Illustrations (19)</a></li>
                                    <li><a href="#"> Wordpress Themes(38)</a></li>
                                    <li><a href="#"> Videography (33)</a></li>
                                </ul>
                            </div>

                            <div class="widget widget_about">
                                <div class="widget_title">
                                    <h4><span>Basic Text Widget</span></h4>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>

                            <div class="velocity-tab sidebar-tab">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#Popular" data-toggle="tab">Popular</a></li>
                                    <li class=""><a href="#Recent" data-toggle="tab">Recent</a></li>
                                    <li class="last-tab"><a href="#Comment" data-toggle="tab"><i class="fa fa-comments-o"></i></a></li>
                                </ul>

                                <div class="tab-content clearfix">
                                    <div class="tab-pane fade active in" id="Popular">
                                        <ul class="recent_tab_list">
                                            <li>
                                                <span><a href="#"><img src="images/content/recent_1.png" alt=""></a></span>
                                                <a href="#">Publishing packag esanse web page editos</a>
                                                <i>October 09, 2014</i>
                                            </li>
                                            <li>
                                                <span><a href="#"><img src="images/content/recent_2.png" alt=""></a></span>
                                                <a href="#">Sublishing packag esanse web page editos</a>
                                                <i>October 08, 2014</i>
                                            </li>
                                            <li class="last-tab">
                                                <span><a href="#"><img src="images/content/recent_3.png" alt=""></a></span>
                                                <a href="#">Mublishing packag esanse web page editos</a>
                                                <i>October 07, 2014</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="Recent">
                                        <ul class="recent_tab_list">
                                            <li>
                                                <span><a href="#"><img src="images/content/recent_4.png" alt=""></a></span>
                                                <a href="#">Various versions has evolved over the years</a>
                                                <i>October 18, 2014</i>
                                            </li>
                                            <li>
                                                <span><a href="#"><img src="images/content/recent_5.png" alt=""></a></span>
                                                <a href="#">Rarious versions has evolve over the years</a>
                                                <i>October 17, 2014</i>
                                            </li>
                                            <li class="last-tab">
                                                <span><a href="#"><img src="images/content/recent_6.png" alt=""></a></span>
                                                <a href="#">Marious versions has evolven over the years</a>
                                                <i>October 16, 2014</i>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade">
                                        <ul class="comments">
                                            <li class="comments_list clearfix">
                                                <a class="post-thumbnail" href="#"><img width="60" height="60" src="images/content/recent_3.png" alt="#"></a>
                                                <p><strong><a href="#">Prambose</a> <i>says: </i> </strong> Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada.</p>
                                            </li>
                                            <li class="comments_list clearfix">
                                                <a class="post-thumbnail" href="#"><img width="60" height="60" src="images/content/recent_1.png" alt="#"></a>
                                                <p><strong><a href="#">Makaroni</a> <i>says: </i> </strong> Tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada.</p>
                                            </li>
                                            <li class="comments_list clearfix">
                                                <a class="post-thumbnail" href="#"><img width="60" height="60" src="images/content/recent_2.png" alt="#"></a>
                                                <p><strong><a href="#">Prambanan</a> <i>says: </i> </strong> Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="widget widget_tags">
                                <div class="widget_title">
                                    <h4><span>Tags Widget</span></h4>
                                </div>
                                <ul class="tags">
                                    <li><a href="#"><b>business</b></a></li>
                                    <li><a href="#">corporate</a></li>
                                    <li><a href="#">css3</a></li>
                                    <li><a href="#"><b>html5</b></a></li>
                                    <li><a href="#">javascript</a></li>
                                    <li><a href="#"><b>jquery</b></a></li>
                                    <li><a href="#">multipurpose</a></li>
                                    <li><a href="#"><b>mysql</b></a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">premium</a></li>
                                    <li><a href="#">responsive</a></li>
                                    <li><a href="#"><b>theme</b></a></li>
                                    <li><a href="#"><b>jQuery Rain</b></a></li>
                                </ul>
                            </div>

                            <div class="widget widget_archives">
                                <div class="widget_title">
                                    <h4><span>Archives</span></h4>
                                </div>
                                <ul class="archives_list list_style">
                                    <li><a href="#"> November 2014</a></li>
                                    <li><a href="#"> October 2014</a></li>
                                    <li><a href="#"> September 2014</a></li>
                                    <li><a href="#"> August 2014</a></li>
                                    <li><a href="#"> July 2014</a></li>
                                    <li><a href="#"> June 2014</a></li>
                                    <li><a href="#"> May 2014</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div> <!--/.container-->
        </section>
    </section>
}