@(posts: List[Post])

@main2("All Posts"){
    <section class="wrapper">


            <!--End Slider-->
            <!--start info service-->
        <section class="info_service">
            <div class="container">

                    <!--Filtering Bar-->
                <div class="columns btn-group pull-right">
                    <button class="btn btn-default" type="button" name="refresh" title="Refresh">
                        <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Recent updated</i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Maximum Supporters</i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Maximum Opponents</i>
                    </button>
                    <div class="export btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" onclick="change_content_holder()">
                            <i class="icon-share">Categories</i>
                                <!--<span class="caret"></span>-->
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-type="json">
                                <a href="javascript:void(0)">Last Updated</a>
                            </li>
                            <li data-type="xml">
                                <a href="javascript:void(0)">Maximum Supporters</a>
                            </li>
                            <li data-type="csv">
                                <a href="javascript:void(0)">Maximum Opponent</a>
                            </li>
                        </ul>
                    </div>
                </div><br><br>

                    <!--Filtering bar end -->
                <div class="row sub_content">
                    <div class="rs_box">

                        <div class="col-sm-9 col-md-9 col-lg-9"><br>

                            <div id = 'post-comments' class="popover fade left in" style="display: none; max-height: 1000px;  width:100%; max-width: 1000px">
                                <h3 class="popover-title">Comments</h3>
                                <div class="popover-content">
                                    <form role="form">
                                        <div class="form-group">
                                            <label class="col-md-12 control-label"></label>
                                            <div class="col-md-12">
                                                <textarea class="form-control field" data-type="textarea" style="min-height: 200px" id="textarea" name="comment" placeholder="Post your opinion"></textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <input type="hidden" id="hidden-text" name="id" value="" />
                                        <button id="save" class="btn btn-info col-md-4"></button>&nbsp;
                                        <input type="button" class="btn btn-danger col-md-4" value="Cancel" onclick="$('#post-comments').toggle()">
                                    </form>
                                        <!--<button class="btn btn-danger col-md-4" onclick="$('#post-comments').toggle()">Cancel</button>-->
                                </div>
                            </div>

                            @for(post <- posts){
                                <div class="blog_single">
                                    <article class="post">
                                        <div class="post_date">
                                            <span class="day"><img src='@routes.Assets.versioned("images/acc.png")' height='80px' width='80px'> </span>
                                        </div>
                                        <div class="post_content">
                                            <div class="post_meta">
                                                <h3 style='font-size: 20px'>
                                                    <a href="/posts/@post.title">@post.title</a>
                                                </h3>
                                                <div class="metaInfo" style="font-weight: bold; font-family: 'Helvetica Neue', Arial, sans-serif ">
                                                    <span><i class="fa fa-calendar"></i> <a href="javascript:void(0)">@post.created_on</a> </span>
                                                    <span><i class="fa fa-user"></i> By <a href="javascript:void(0)">@post.author</a> </span>
                                                    <span><i class="fa fa-tag"></i> <a href="javascript:void(0)">@post.category</a> </span>
                                                    <span><i class="fa fa-comments"></i>
                                                        <a href="javascript:void(0)" onclick="supporting_comment($(this).parent())">Support</a>
                                                        (
                                                        <a href="javascript:void(0)">@post.supporters</a>
                                                         )
                                                    </span>
                                                    <span><i class="fa fa-comments"></i>
                                                        <a href="javascript:void(0)" onclick="opponent_comment($(this).parent())">Counter</a>
                                                        (
                                                        <a href="javascript:void(0)">@post.opponents</a>
                                                         )
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-thumbs-up" style="color: green"></i>
                                                        <a href="javascript:void(0)">Like</a> (
                                                        <a href="javascript:void(0)">@post.likes </a> )
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-thumbs-down"  style="color: red"></i>
                                                        <a href="javascript:void(0)" title="Click to dislike">Dislike</a> (
                                                        <a href="javascript:void(0)">@post.dislikes </a> )
                                                    </span>
                                                </div>
                                            </div>
                                            <p>
                                                @post.getShortDescription
                                                <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View More</a>
                                            </p>
                                            <p style="display: none; font-family: sans-serif">
                                                @post.description
                                                <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View Less</a>
                                            </p>
                                        </div>
                                    </article>

                                </div>
                            }

                        </div>

                        <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3">
                            <div class="sidebar">
                                <div class="widget widget_search">
                                    <div class="site-search-area">
                                        <form method="get" id="site-searchform" action="#">
                                            <div>
                                                <input class="input-text" name="s" id="s" placeholder="Enter Search keywords..." type="text">
                                                <input id="searchsubmit" value="Search" type="submit">
                                            </div>
                                        </form>
                                    </div><!-- end site search -->
                                </div>

                                <div class="widget widget_categories">
                                    <div class="widget_title">
                                        <h4><span>Categories</span></h4>
                                    </div>
                                    <ul class="arrows_list list_style">
                                        <li><a href="#"> Grapic Design (10)</a></li>
                                        <li><a href="#"> Web Design &amp; Development (25)</a></li>
                                        <li><a href="#"> Photography (29)</a></li>
                                        <li><a href="#"> Custom Illustrations (19)</a></li>
                                        <li><a href="#"> Wordpress Themes(38)</a></li>
                                        <li><a href="#"> Videography (33)</a></li>
                                    </ul>
                                </div>

                                <div class="widget widget_about">
                                    <div class="widget_title">
                                        <h4><span>Basic Text Widget</span></h4>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adip, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>

                                <div class="velocity-tab sidebar-tab">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#Popular" data-toggle="tab">Popular</a></li>
                                        <li class=""><a href="#Recent" data-toggle="tab">Recent</a></li>
                                        <li class="last-tab"><a href="#Comment" data-toggle="tab"><i class="fa fa-comments-o"></i></a></li>
                                    </ul>

                                    <div class="tab-content clearfix">
                                        <div class="tab-pane fade active in" id="Popular">
                                            <ul class="recent_tab_list">
                                                <li>
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_1.png")" alt=""></a></span>
                                                    <a href="#">Publishing packag esanse web page editos</a>
                                                    <i>October 09, 2014</i>
                                                </li>
                                                <li>
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_2.png")" alt=""></a></span>
                                                    <a href="#">Sublishing packag esanse web page editos</a>
                                                    <i>October 08, 2014</i>
                                                </li>
                                                <li class="last-tab">
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_3.png")" alt=""></a></span>
                                                    <a href="#">Mublishing packag esanse web page editos</a>
                                                    <i>October 07, 2014</i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="Recent">
                                            <ul class="recent_tab_list">
                                                <li>
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_4.png")" alt=""></a></span>
                                                    <a href="#">Various versions has evolved over the years</a>
                                                    <i>October 18, 2014</i>
                                                </li>
                                                <li>
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_5.png")" alt=""></a></span>
                                                    <a href="#">Rarious versions has evolve over the years</a>
                                                    <i>October 17, 2014</i>
                                                </li>
                                                <li class="last-tab">
                                                    <span><a href="#"><img src="@routes.Assets.versioned("images/content/recent_6.png")" alt=""></a></span>
                                                    <a href="#">Marious versions has evolven over the years</a>
                                                    <i>October 16, 2014</i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade">
                                            <ul class="comments">
                                                <li class="comments_list clearfix">
                                                    <a class="post-thumbnail" href="#"><img width="60" height="60" src="@routes.Assets.versioned("images/content/recent_3.png")" alt="#"></a>
                                                    <p><strong><a href="#">Prambose</a> <i>says: </i> </strong> Morbi augue velit, tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada.</p>
                                                </li>
                                                <li class="comments_list clearfix">
                                                    <a class="post-thumbnail" href="#"><img width="60" height="60" src="@routes.Assets.versioned("images/content/recent_1.png")" alt="#"></a>
                                                    <p><strong><a href="#">Makaroni</a> <i>says: </i> </strong> Tempus mattis dignissim nec, porta sed risus. Donec eget magna eu lorem tristique pellentesque eget eu dui. Fusce lacinia tempor malesuada.</p>
                                                </li>
                                                <li class="comments_list clearfix">
                                                    <a class="post-thumbnail" href="#"><img width="60" height="60" src="@routes.Assets.versioned("images/content/recent_2.png")" alt="#"></a>
                                                    <p><strong><a href="#">Prambanan</a> <i>says: </i> </strong> Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget widget_tags">
                                    <div class="widget_title">
                                        <h4><span>Tags Widget</span></h4>
                                    </div>
                                    <ul class="tags">
                                        <li><a href="#"><b>business</b></a></li>
                                        <li><a href="#">corporate</a></li>
                                        <li><a href="#">css3</a></li>
                                        <li><a href="#"><b>html5</b></a></li>
                                        <li><a href="#">javascript</a></li>
                                        <li><a href="#"><b>jquery</b></a></li>
                                        <li><a href="#">multipurpose</a></li>
                                        <li><a href="#"><b>mysql</b></a></li>
                                        <li><a href="#">portfolio</a></li>
                                        <li><a href="#">premium</a></li>
                                        <li><a href="#">responsive</a></li>
                                        <li><a href="#"><b>theme</b></a></li>
                                        <li><a href="#"><b>jQuery Rain</b></a></li>
                                    </ul>
                                </div>

                                <div class="widget widget_archives">
                                    <div class="widget_title">
                                        <h4><span>Archives</span></h4>
                                    </div>
                                    <ul class="archives_list list_style">
                                        <li><a href="#"> November 2014</a></li>
                                        <li><a href="#"> October 2014</a></li>
                                        <li><a href="#"> September 2014</a></li>
                                        <li><a href="#"> August 2014</a></li>
                                        <li><a href="#"> July 2014</a></li>
                                        <li><a href="#"> June 2014</a></li>
                                        <li><a href="#"> May 2014</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--end info service-->

            <!--Start recent work-->
        <section class="latest_work">
            <div class="container">
                <div class="row sub_content">
                    <div class="carousel-intro">
                        <div class="col-md-12">
                            <div class="dividerHeading">
                                <h4><span>Trending Topics</span></h4>
                            </div>
                            <div class="carousel-navi">
                                <div id="work-prev" class="arrow-left jcarousel-prev"><i class="fa fa-angle-left"></i></div>
                                <div id="work-next" class="arrow-right jcarousel-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--</section>-->
    </section>
}