
@(posts: List[models.posts.PostPost])
@main2("All Posts"){
    <section class="wrapper">


            <!--End Slider-->
            <!--start info service-->
        <section class="info_service">
            <div class="container">

                    <!--Filtering Bar-->
                <div class="columns btn-group pull-right">
                    <button class="btn btn-default" type="button" name="refresh" title="Refresh">
                        <i class="glyphicon glyphicon-refresh icon-refresh"></i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Recent updated</i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Maximum Supporters</i>
                    </button>
                    <button class="btn btn-default" type="button" name="toggle" title="Toggle">
                        <i class="icon-list-alt">Maximum Opponents</i>
                    </button>
                    <div class="export btn-group">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" onclick="change_content_holder()">
                            <i class="icon-share">Categories</i>
                                <!--<span class="caret"></span>-->
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-type="json">
                                <a href="javascript:void(0)">Last Updated</a>
                            </li>
                            <li data-type="xml">
                                <a href="javascript:void(0)">Maximum Supporters</a>
                            </li>
                            <li data-type="csv">
                                <a href="javascript:void(0)">Maximum Opponent</a>
                            </li>
                        </ul>
                    </div>
                </div><br><br>

                    <!--Filtering bar end -->
                <div class="row sub_content">
                    <div class="rs_box">

                        <div class="col-sm-9 col-md-9 col-lg-9"><br>

                            @blocks.popup()

                            @for(post <- posts){
                                <div class="blog_single">
                                    <article class="post">
                                        <div class="post_date">
                                            <span class="day"><img src='@routes.Assets.versioned("images/acc.png")' height='80px' width='80px'> </span>
                                        </div>
                                        <div class="post_content">
                                            <div class="post_meta">
                                                <h3 style='font-size: 20px'>
                                                    <a href="@routes.Posts.details(post.getId)">@post.getTitle</a>
                                                </h3>
                                                <div class="metaInfo" style="font-weight: bold; font-family: 'Helvetica Neue', Arial, sans-serif ">
                                                    <span><i class="fa fa-calendar"></i> <a href="javascript:void(0)">@post.getCreatedOn</a> </span>
                                                    <span><i class="fa fa-user"></i> By <a href="javascript:void(0)">@post.getAuthor</a> </span>
                                                    <span><i class="fa fa-tag"></i> <a href="javascript:void(0)">@post.getCategory</a> </span>
                                                    <span><i class="fa fa-comments"></i>
                                                        <a href="javascript:void(0)" onclick="supporting_comment($(this).parent())">Support</a>
                                                        (
                                                        <a href="javascript:void(0)">@post.getSupporters.size()</a>
                                                         )
                                                    </span>
                                                    <span><i class="fa fa-comments"></i>
                                                        <a href="javascript:void(0)" onclick="opponent_comment($(this).parent())">Counter</a>
                                                        (
                                                        <a href="javascript:void(0)">@post.getOpponents.size()</a>
                                                         )
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-thumbs-up" style="color: green"></i>
                                                        <a href="javascript:void(0)">Like</a> (
                                                        <a href="javascript:void(0)">@post.getLikes.size() </a> )
                                                    </span>
                                                    <span>
                                                        <i class="fa fa-thumbs-down"  style="color: red"></i>
                                                        <a href="javascript:void(0)" title="Click to dislike">Dislike</a> (
                                                        <a href="javascript:void(0)">@post.getDislikes.size() </a> )
                                                    </span>
                                                </div>
                                            </div>
                                            <p>
                                                @post.getShortDescription
                                                <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View More</a>
                                            </p>
                                            <p style="display: none; font-family: sans-serif">
                                                @post.getDescription
                                                <a href="javascript:void(0)" onclick="$(this).parent().parent().find('p').toggle()">View Less</a>
                                            </p>
                                        </div>
                                    </article>

                                </div>
                            }

                        </div>

                        @blocks.sidebar()
                    </div>
                </div>
            </div>
        </section>
            <!--end info service-->

            <!--Start recent work-->
        <section class="latest_work">
            <div class="container">
                <div class="row sub_content">
                    <div class="carousel-intro">
                        <div class="col-md-12">
                            <div class="dividerHeading">
                                <h4><span>Trending Topics</span></h4>
                            </div>
                            <div class="carousel-navi">
                                <div id="work-prev" class="arrow-left jcarousel-prev"><i class="fa fa-angle-left"></i></div>
                                <div id="work-next" class="arrow-right jcarousel-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <!--</section>-->
    </section>
}